.container-fluid {
	padding-right: 0 !important;
    padding-left: 0 !important; 
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.checkout-wrapper {
	min-height: calc(100vh - 120px);
	margin: 20px auto;
}
.payment-methods-container {
	background-color: darkgray;
	height: 500px;
}
.shipping-address {
	padding-right: 10px;
}
.checkout-cart-summary {
	height: 500px;
	background-color: lightgray
}
footer {
	background-color: lightgray;
	padding: 0;
	margin: 0;
    text-align: center;
	font-family: sans-serif;
}
.home-wrapper {
	display: flex;
    flex-direction: column;
    min-height: calc(100vh - 120px);
    width: 30%;
    margin: 40px auto 0 10px;
    align-items: center;
	.list {
		font-size: 20px;
	}
}