<div class="container-fluid">
    <header-component></header-component>
    <div class="container checkout-wrapper">
        <div class="col-md-8 col-sm-12">
        </div>
        <div class="col-md-4 col-sm-12">
            </div>
        <div class="col-md-8 col-sm-12">
        </div>
    </div>
    
    <footer-component></footer-component>

</div>