<div class="payment-methods-container">
  <div class="container">
    <div class="row">
      <h4 class="col-sm-12 col-md-12 col-xs-12" data-bind="text: header"></h4>
      <div class="col-md-6 col-xs-12">
        <span class="payment-subheader" data-bind="text: subheader"></span>
      </div>
      <div class="col-md-6 col-xs-12">
        <span class="giftcard-header">
          <a data-toggle="collapse" href="#giftCardModal" role="button" aria-expanded="false"
            aria-controls="giftCardModal">
            <h4 data-bind="text: giftcardHeader"></h4>
          </a>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="collapse" id="giftCardModal">
          <div class="row">
            <div class="giftCardModalHeader col-md-12 col-sm-12">Enter Your Gift Card Details</div>
          </div>

          <form>
            <div class="row">
              <div class="form-group">
                <div class="col-md-9 col-sm-12">
                  <input type="text" class="form-control" placeholder="0000-0000000-0000">
                  <span class="glyphicon glyphicon-gift"></span>
                </div>
                <div class="col-md-3 col-sm-12">
                  <button class="btn" type="button" class="apply-giftcard"> APPLY TO PURCHASE </button>
                </div>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-6 col-sm-12 giftcard-status">
              <span class="">
                Your Gift Card Was Added Succesfully
              </span>
            </div>
            <div class="col-md-6 col-sm-12 giftcard-balance">
              <div>
                Starting Balance: $500.00
              </div>
              <div>
                Remaining Balance: $0.00
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <form class="payment-methods" action="">
        <div class="accordion  panel-group" id="accordion">
          <!-- ko if: savedCards -->
          <!-- ko foreach: savedCards -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <label data-bind="attr:{for: 'savedCard'+$data.lastFourDigits}">
                  <input data-toggle="collapse" type='radio' name="Payment Methods"
                    data-bind="attr: {id: 'savedCard'+$data.lastFourDigits, 'data-target':'#savedCardField'+$data.lastFourDigits, href:'#savedCardField'+$data.lastFourDigits, value: 'savedCard'+$data.lastFourDigits}" />
                  <span data-bind="text: 'Use Credit Card Ending in '+$data.lastFourDigits"></span>
                </label>
              </h4>
            </div>
            <div data-bind="attr:{id: 'savedCardField'+$data.lastFourDigits}" data-parent="#accordion"
              class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-md-12">
                  Review the payment details below and confirm your Credit Card's CVC or Security Code
                </div>
                <div class="col-md-6 col-xs-12">
                  <span class="col-md-6">Name</span>
                  <span class="col-md-6" data-bind="text: $data.nameOnCard"></span>
                  <span class="col-md-6">Card Number</span>
                  <span class="col-md-6" data-bind="text: $data.cardNumber"></span>
                  <span class="col-md-6">Expiration</span>
                  <span class="col-md-6" data-bind="text: $data.expiration"></span>
                  <span class="col-md-6">Billing Address</span>
                  <span class="col-md-6" data-bind="text: $data.billingAddress"></span>
                </div>
              </div>
            </div>
          </div>
          <!-- /ko -->
          <!-- /ko -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <label for="creditcard">
                  <input data-toggle="collapse" data-target="#newCard" href="#newCard" type='radio' id="creditcard"
                    name="Payment Methods" value="Credit Card" checked /> Credit Card
                </label>
              </h4>
            </div>
            <div id="newCard" class="panel-collapse collapse in" data-parent="#accordion">
              <div class="panel-body">
                <form>
                  <div class="form-row">
                    <div class="col-md-12 form-group required">
                      <label class="control-label" for="cardholderName">Name On Card</label>
                      <input id="cardholderName" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-2 form-group required">
                      <label class="control-label" for="expiryDate">Expiry Date</label>
                      <input id="expiryDate" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="form-row">

                  </div>
                  <div class="form-row">
                    <div class="col-md-12">
                      <input type="checkbox" value="billingAddress"
                        data-bind="checked: useAsBillAddress, click: isChecked" />
                      <span>Billing Address - Same As Shipping Address</span>
                    </div>
                    <!-- ko ifnot: useAsBillAddress-->
                    <div>
                      <form>
                        <div class="col-md-6 col-sm-12 form-group">
                          <label for="billingaddress-firstname">First Name</label>
                          <input type="text" class="form-control" id="billingaddress-firstname" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                          <label for="billingaddress-lastname">Last Name</label>
                          <input type="text" class="form-control" id="billingaddress-lastname" />
                        </div>
                        <div class="col-md-12 col-sm-12 form-group">
                          <label for="billingaddress-address1">Address</label>
                          <input type="text" class="form-control" id="billingaddress-address1" />
                        </div>
                        <div class="col-md-12 col-sm-12 form-group">
                          <label for="billingaddress-address2">Apartment/ Unit/ Suite(Optional)</label>
                          <input type="text" class="form-control" id="billingaddress-address2"
                            placeholder="Street Address" />
                        </div>
                        <div class="col-md-4 col-sm-12 form-group">
                          <label for="billingaddress-city">City</label>
                          <input type="text" class="form-control" id="billingaddress-city"
                            placeholder="eg. 6995 or Unit 65" />
                        </div>
                        <div class="col-md-4 col-sm-12 form-group">
                          <label for="billingaddress-state">Province</label>
                          <select class="form-control" id="billingaddress-state">
                            <!-- ko if: states-->
                            <!-- ko foreach: states-->
                            <options data-bind="text: $data"></options>
                            <!-- /ko -->
                            <!-- /ko -->
                          </select>
                        </div>
                        <div class="col-md-4 col-sm-12 form-group">
                          <label for="billingaddress-zipcode">Postal Code</label>
                          <input type="text" class="form-control" id="billingaddress-zipcode" />
                        </div>
                      </form>
                    </div>
                    <!-- /ko -->
                  </div>
                  <div class="form-row">
                    <div class="col-md-12">
                      <input type="checkbox" id="addCard" data-bind="checked: saveCard" />
                      <span>Remember This Card</span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>