.payment-methods-container {
	background-color: darkgray;
    
    .container {
        width: 100%;

        .giftcard-header {
            text-align: "right";
            a {
                text-decoration: underline;
                color: black;
                span {
                    font-size: 20px;
                    font-family: sans-serif;
                    font-weight: bold;
                }
            }
        }
        .giftCardModal {
            .giftCardModalHeader {
                .giftcard-status {
                    padding-top: 5px
                }
                .giftcard-balance {
                    text-align: right;

                }
            }
        }

        .payment-methods {
            padding: 0 5% 2%;

            .panel:first-child {
                border-radius: 10px 10px 0 0;
                .panel-heading {
                    border-radius: 10px 10px 0 0;
                }
            }
            .panel:last-child {
                border-radius: 0 0 10px 10px;
                .panel-body {
                    border-radius: 0 0 10px 10px;
                }
            }
            .panel-group .panel+.panel {
                margin-top: 1px;
                border-radius: 0;
            }
            .panel-heading {
                padding: 15px;
            }
        }
    }
}