<div class="container-fluid">
    <header-component></header-component>
    <div class="container checkout-wrapper">
        <div class="col-md-8 col-sm-12">
                <shipping-address></shipping-address>
        </div>
        <div class="col-md-4 col-sm-12">
                <checkout-cart-summary></checkout-cart-summary>
            </div>
        <div class="col-md-8 col-sm-12">
                <payment-methods></payment-methods>
        </div>
    </div>

    <footer-component></footer-component>

</div>
