<div class="checkout-cart-summary">
    <div class="checkout-cart-container">
        <div class="row">
            <h4 class="col-xs-12 col-md-12 title">Cart Summary</h4>
        </div>
    </div>
</div>