<div class="shipping-address">
    <div class="shipping-address_container row">
        <h1 class="col-xs-12 col-sm-12 col-md-6 shipping-address_container-checkout">Secure Checkout</h1>
        <span class="col-xs-12 col-sm-12 col-md-6 shipping-address_container-login">
            <span>Have An Account?</span>
            <span>
                <a href="#">Login & Checkout Faster</a>
            </span>
        </span>
    </div>
    <div class="shipping-address_tabs row">
        <div class="shipping-address_tabs-shipto col-xs-6" data-bind="css: { 'selected': shipToMe() },click: toggletabs.bind(this, true)">
            <span>Ship to me</span>
        </div>
        <div class="shipping-address_tabs-pickup col-xs-6" data-bind="css: { 'selected': !shipToMe() },click: toggletabs.bind(this, false)">
            <span>In-Store Pickup</span>
        </div>
    </div>
    <div class="shipping-address_shipto row">
        <div class="shipping-address_shipto-contact row">
            <div class="col-xs-12 shipping-address_shipto-contact--header">Contact Details</div>
            <div>
                <div class="form-group col-sm-7 shipping-address_shipto-contact--login">
                    <label class="control-label inline" for="CC-checkoutRegistration-email" data-bind="widgetLocaleText:'emailAddressText'">Email</label>
                    <span class="text-danger visible-xs" id="CC-checkoutRegistration-email-error-phone" data-bind="validationMessage: $parent.order().guestEmailAddress"
                        role="alert" style="display: none;"></span>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="email" class="email col-sm-12 form-control" name="email" id="CC-checkoutRegistration-email" aria-required="true"
                                data-bind="validatableValue: $parent.order().guestEmailAddress, 
                                     valueUpdate: 'afterkeydown', widgetLocaleText : {value:'emailAddressText', attr:'placeholder'}, event: {blur: $parent.guestEmailAddressLostFocus, focus: $parent.guestEmailAddressFocused}"
                                tabindex="0" required="required" placeholder="Email Address">
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-5 shipping-address_shipto-contact--phone">
                    <label class="control-label inline" for="CC-checkoutRegistration-email" data-bind="widgetLocaleText:'emailAddressText'">Phone</label>
                    <span class="text-danger visible-xs" id="CC-checkoutRegistration-email-error-phone" data-bind="validationMessage: $parent.order().guestEmailAddress"
                        role="alert" style="display: none;"></span>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="email" class="email col-sm-12 form-control" name="email" id="CC-checkoutRegistration-email" aria-required="true"
                                data-bind="validatableValue: $parent.order().guestEmailAddress, 
                                         valueUpdate: 'afterkeydown', widgetLocaleText : {value:'emailAddressText', attr:'placeholder'}, event: {blur: $parent.guestEmailAddressLostFocus, focus: $parent.guestEmailAddressFocused}"
                                tabindex="0" required="required" placeholder="( ) - __ - __ - __">
                        </div>
                    </div>
                </div>
                <div class="shipping-address_shipto-contact--notification col-xs-12">
                    <div class="checkbox">
                        <label for="CC-termsAndCondtions">
                            <input type="checkbox" id="CC-termsAndCondtions">
                            <span> Send me Order Notification Via SMS</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- ko if: shipToMe -->
        <div class="shipping-address_shipto-address row">
            <fieldset id="shippingAddress">
                <legend data-bind="widgetLocaleText:'shippingAddressText'">Address</legend>
                <div id="CC-checkoutAddressBook-shippingAddress-edit">
                    <div class="row first-row">
                        <div class="form-group col-sm-6">
                            <label class="control-label inline" for="CC-checkoutAddressBook-sfirstname" data-bind="widgetLocaleText:'firstNameText'">First Name</label>
                            <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-sfirstname-error" data-bind="validationMessage: firstName"
                                role="alert"></span>
                            <div class="control">
                                <input type="text" class="col-md-12 form-control" name="sFirstName" id="CC-checkoutAddressBook-sfirstname" aria-required="true"
                                    data-bind="validatableValue: firstName, widgetLocaleText : {value:'firstNameText', attr:'placeholder'}">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label inline" for="CC-checkoutAddressBook-slastname" data-bind="widgetLocaleText:'lastNameText'">Last Name</label>
                            <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-slastname-error" data-bind="validationMessage: lastName"
                                role="alert"></span>
                            <div class="control">
                                <input type="text" class="col-md-12 form-control" name="sLastName" id="CC-checkoutAddressBook-slastname" aria-required="true"
                                    data-bind="validatableValue: lastName, widgetLocaleText : {value:'lastNameText',attr:'placeholder'}">
                            </div>
                        </div>
                        <div class="col-sm-12 hidden-xs">
                            <p class="text-danger" id="CC-checkoutAddressBook-sfirstname-error" data-bind="validationMessage: firstName" role="alert"></p>
                            <p class="text-danger" id="CC-checkoutAddressBook-slastname-error" data-bind="validationMessage: lastName" role="alert"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label inline" for="CC-checkoutAddressBook-saddress1" data-bind="widgetLocaleText:'addressLine1Text'">Address</label>
                            <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-saddress1-error" data-bind="validationMessage: address1"
                                role="alert"></span>
                            <div class="control">
                                <input type="text" class="col-md-12 form-control" name="sAddressLine1" id="CC-checkoutAddressBook-saddress1" aria-required="true"
                                    data-bind="validatableValue: address1, widgetLocaleText:{value:'addressLine1Text',attr:'placeholder'}">
                            </div>
                        </div>
                        <div class="col-sm-12 hidden-xs">
                            <p class="text-danger" id="CC-checkoutAddressBook-saddress1-error" data-bind="validationMessage: address1" role="alert"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label inline" for="CC-checkoutAddressBook-saddress2" data-bind="widgetLocaleText:'addressLine2Text'">Apartment/Unit/Suite (Optional)</label>
                            <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-saddress2-error" data-bind="validationMessage: address2"
                                role="alert"></span>
                            <div class="control">
                                <input type="text" class="col-md-12 form-control" name="sAddressLine2" id="CC-checkoutAddressBook-saddress2" data-bind="validatableValue: address2, widgetLocaleText:{value:'addressLine2Text',attr:'placeholder'}">
                            </div>
                        </div>
                        <div class="col-md-12 hidden-xs">
                            <p class="text-danger" id="CC-checkoutAddressBook-saddress2-error" data-bind="validationMessage: address2" role="alert"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="control-label inline" for="CC-checkoutAddressBook-scity" data-bind="widgetLocaleText:'cityText'">City</label>
                            <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-scity-error" data-bind="validationMessage: city" role="alert"></span>
                            <div class="control">
                                <input type="text" class="col-md-12 form-control" name="sCity" id="CC-checkoutAddressBook-scity" aria-required="true" data-bind="validatableValue: city, widgetLocaleText:{value:'cityText',attr:'placeholder'}">
                            </div>
                            <p class="text-danger" id="CC-checkoutAddressBook-scity-error" data-bind="validationMessage: city" role="alert"></p>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label inline" for="CC-checkoutAddressBook-sstate" data-bind="widgetLocaleText:'stateText'">Province</label>
                            <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-sstate-error" data-bind="validationMessage: state"
                                role="alert"></span>
                            <div class="control">
                                <select class="col-md-12 form-control" name="sState" id="CC-checkoutAddressBook-sstate" aria-required="true">
                                </select>
                            </div>
                            <p class="text-danger" id="CC-checkoutAddressBook-sstate-error" data-bind="validationMessage: state" role="alert"></p>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label inline" for="CC-checkoutAddressBook-szipcode" data-bind="widgetLocaleText:'zipCodeText'">Postal Code</label>
                            <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-szipcode-error" data-bind="validationMessage: postalCode"
                                role="alert"></span>
                            <div class="control">
                                <input type="text" class="col-md-12 form-control" name="sZip" id="CC-checkoutAddressBook-szipcode" aria-required="true" data-bind="validatableValue: postalCode, widgetLocaleText:{value:'zipCodeText',attr:'placeholder'}">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <delivery></delivery>
        <!-- /ko -->
        <!-- ko ifnot: shipToMe -->
        <div class="shipping-address_pickup row">
            <div class="col-xs-12 col-sm-6 shipping-address_pickup-left">
                    <div class="col-xs-12 shipping-address_pickup-left_header">
                        <h3>Choose your pickup location</h3>
                        <p>Choose your pickup location</p>
                    </div>
                    <div class="col-xs-12 shipping-address_pickup-left_search">
                        <div class="shipping-address_pickup-left_search-header">
                            <span class="shipping-address_pickup-left_search-header_label">Search</span>
                            <button class="shipping-address_pickup-left_search-header_location">Use my location</button>
                        </div>
                        <div class="shipping-address_pickup-left_search-body">
                            <input id="pac-input" class="controls input-text col-xs-12" type="text" placeholder="Enter City Name or Postal code">
                        </div>
                    </div>
                    <div class="col-xs-12 shipping-address_pickup-left_results"></div>
            </div>
            <div class="col-xs-12 col-sm-6 shipping-address_pickup-right">
                <div id="map"></div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>