.shipping-address {
	padding-right: 10px;
    &_container {
        &-checkout {
            margin: auto;
            padding: 0;
        }
        &-login {
            margin: auto;
            padding: 0;
        }
    }
    &_shipto {
        &-contact {
            margin: 0;
            &--header {
                padding: 0;
            }
            &--login {
                padding: 0;
            }
            &--notification {
                padding: 0;
            }
        }
        &-address {
            margin: 0;
        }
    }
    &_pickup {
        height: 400px;
        margin: 0;
        &-left {
            background: #d3d3d3;
            height: 100%;
            &_header {
                text-align: center;
            }
            &_search {
                &-header {
                    display: flex;
                    justify-content: space-between;
                    &_location {
                        background: transparent;
                        border: none;
                        outline: none;
                        text-decoration: underline;
                    }
                }
                &-body {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    &_tabs {
        height: 60px;
        display: flex;
        text-align: center;
        cursor: pointer;
        &-shipto, &-pickup {
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            display: flex;
            border: solid 1px #d3d3d3;
            &.selected {
                background: #d3d3d3;
                border: none;
            }
        }
        &-shipto {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
        &-pickup {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}