<!--  ko if: showScheduler() -->
    <div class="scheduler-container">
        <div class="container">
            <div class="row">
                <h3 class="col-sm-12 col-md-12 col-xs-12" data-bind="text: header"></h3>
            </div>
            <div class="row">
                <div class="col-md-6 form-group required">
                    <label class="control-label" for="datepicker">Date</label>
                    <input id="datepicker" type="text" class="form-control" placeholder="Monday, August 3rd">
                </div>
                <div class="col-md-6 form-group required">
                    <label for="schedule-time">Time</label>
                    <select class="form-control" id="schedule-time">
                        <option>8am-10am</option>
                        <option>10am-12pm</option>
                        <option>12pm-2pm</option>
                        <option>2pm-4pm</option>
                        <option>4pm-6pm</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="control-label" for="comment">Delivery Instructions</label>
                    <textarea class="form-control" rows="5" id="comment" placeholder="eg. buzzer number, gated community, doornam etc"></textarea>
                </div>
            </div>
        </div>
    </div>
<!-- /ko -->
