<div class="container-fluid">
    <header-component></header-component>
    <div class="container home-wrapper">
        <a href="#checkout" class="list">Checkout Page</a>
        <a href="#cart" class="list">Cart Page</a>
    </div>
    
    <footer-component></footer-component>

</div>